# Udacity Project 3

# Gather

In [1]:
#imports that will be used for this file:
import pandas as pd
import requests
import os
import csv
import tweepy
import json
import re
import tweepy
import json
import time
import numpy as np
import math

In [2]:
df_arch = pd.read_csv("twitter-archive-enhanced.csv", sep= ",")
id_list = df_arch["tweet_id"]
#Testing with small batches below
#id_list = df_arch["tweet_id"][:100]
#id_list = [892420643555336193, 0]
#id_list = [892420643555336193, 892177421306343426, 0]

Image Prediction File Download

In [3]:
#download the file.
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
r = requests.get(url)

In [4]:
#save the .tsv file into the notebook folder. 
with open('file_2', 'w') as f:
    writer = csv.writer(f)
    reader = csv.reader(r.text.splitlines())
    
    for row in reader:
            writer.writerow(row)
#https://stackoverflow.com/questions/45978295/saving-a-downloaded-csv-file-using-python

In [5]:
#put it into a panda dataframe.
df_img_algo = pd.read_csv("file_2", sep= "\t")
df_img_algo.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

Third file from the twitter API

In [6]:
#consumer_key = 'MYKEY'
#consumer_secret = 'MYKEY'
#access_token = 'MYKEY-MYKEY'
#access_secret = 'MYKEY'
##file and list setup
#templist = []
#f = open("tweet_json.txt", "a+")
#count = 0
#auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
#auth.set_access_token(access_token, access_secret)
#api = tweepy.API(auth, wait_on_rate_limit= True, wait_on_rate_limit_notify= True)
#for id in id_list:
#    count += 1
#    try:
#        start = time.time()
#        tweet = api.get_status(id)
#        templist.append(tweet)
#        end = time.time()
#        print(count, "ID: ", id, "TIME: ", end - start)
#    except: 
#        print(count, "ID: ", id, " could not be found.")
#        continue

#tweet = api.get_status(666020888022790149)

In [7]:
#templist_json = []
#for item in templist:
#    templist_json.append(item._json)
#with open("tweet_json.txt", "w+") as f:
#    f.write(json.dumps(templist_json, indent = 4))

In [8]:
#create dataframe in Pandas. 
db_list = []

with open("tweet_json.txt") as f:
    json_temp = json.load(f)
    for item in json_temp:
        tweet_id = item["id"]
        tweet_text = item["text"]
        url = tweet_text[tweet_text.find("https"):]
        favorite_count = item["favorite_count"]
        retweet_count = item["retweet_count"] 
        hashtags = item["entities"]["hashtags"]
        followers_count = item["user"]["followers_count"]
        created_at = item["created_at"]
        
        db_list.append({"tweet_id": str(tweet_id),
                            "favorite_count": int(favorite_count),
                            "retweet_count": int(retweet_count),
                            "url": url,
                            "hashtags": hashtags,
                            "created_at": created_at,
                            "followers_count": followers_count
                            })
        
        df_tweet_json = pd.DataFrame(db_list, columns = ["tweet_id", "retweet_count", "favorite_count", "followers_count", 
                                                        "hashtags", "url", "created_at"])

In [9]:
#At this point we have three dataframes: df_arch, df_img_algo, df_tweet_json.
#We need to Assess the three data frames and clean them.

# Assess

### Twitter .csv file

In [10]:
#First data type is the twitter archive which was lifted from the .csv file. 
df_arch.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

The df_arch dataframe has some noticible tidiness and quality issues. 
Firstly, the timestamp has a date and time. Ideally the date should be seperated out. Some quality issues I see visually are the conconsistencies between "null" data. None vs NaN can be unified into a "null" data.

In [11]:
df_arch.info()
#This simple look up details tweet_id is incorrectly a integer. 
#It should be, like the zip code example we studied in the text, a string.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [12]:
df_arch.describe()
#This also reveals something erroneous about the data. THe denominator should be out of 10.
#But the mean is 10.45. It's also odd that the max is 2356.000000 and the min is 0.

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

# Issues with Twitter Archieve Data
### Tidiness
1)Date and Time should be seperated in "timestamp" or the datatype should be converted. 

2)Columns related to retweet should be dropped because there's not enough meaningful data.  

3)There should be a rating_value column that explains what the actual rating is in ratio. 

4) The dog names can be cobined into one. 
### Quality
1)href should be removed from the "source" column. It should just display the device. 

2)tweet_ID should be string. (like the zipcode example from the lsson)

3)Dog names have None. That should be converted into null. 

4)The reviewer pointed out that some ID's such had an incorrect rating lifted from the 'text' field. 

5)Rows that are retweets should be removed.

# Image Data

In [13]:
#We can load the dataframe and take a look at the 
df_img_algo.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

## Quality Issue with Image Data: 
1)There isn't enough Hashtag Data. This should be removed entirely.
2)Tweet_id should be strings. 
3)Inconsistent capitalizations on "p" data. 
4)The "p" data is not descriptive enough.

# Tweets API Data

In [14]:
#visual examination first
df_tweet_json.head()

,tweet_id,retweet_count,favorite_count,followers_count,hashtags,url,created_at
0,892420643555336193,8642,38967,6551974,[],https://t.co/MgUWQ76dJU,Tue Aug 01 16:23:56 +0000 2017
1,892177421306343426,6351,33354,6551974,[],https://t.co/aQFSeaCu9L,Tue Aug 01 00:17:27 +0000 2017
2,891815181378084864,4213,25137,6551974,[],https://t.co/r0YlrsGCgy,Mon Jul 31 00:18:03 +0000 2017
3,891689557279858688,8759,42299,6551975,[],https://t.co/tD36da7qLQ,Sun Jul 30 15:58:51 +0000 2017
4,891327558926688256,9521,40470,6551975,[],https://t.co/0g0KMIVXZ3,Sat Jul 29 16:00:24 +0000 2017

In [15]:
#tweet_ID should be a string, and hashtags return a "[]" instead of Null. 
#also I am seeing that created_at time should be seperated out to date and time and day of the week.
df_tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 7 columns):
tweet_id           2345 non-null object
retweet_count      2345 non-null int64
favorite_count     2345 non-null int64
followers_count    2345 non-null int64
hashtags           2345 non-null object
url                2345 non-null object
created_at         2345 non-null object
dtypes: int64(3), object(4)
memory usage: 128.3+ KB

In [16]:
#the hashtag looks like there aren't many values. I created a simple loop to search
#for any legit dictionaries, There were only 19 enteries so I will delete this column. It's not very meaningful. 
count = 0
for item in df_tweet_json["hashtags"]:
    if len(item) > 0:
        count += 1
        print (item)
print ("total", count)

[{'text': 'BATP', 'indices': [21, 26]}]
[{'text': 'PrideMonthPuppo', 'indices': [29, 45]}]
[{'text': 'dogsatpollingstations', 'indices': [21, 43]}]
[{'text': 'PrideMonth', 'indices': [66, 77]}]
[{'text': 'PrideMonth', 'indices': [39, 50]}]
[{'text': 'ScienceMarch', 'indices': [36, 49]}]
[{'text': 'K9VeteransDay', 'indices': [40, 54]}]
[{'text': 'GoodDogs', 'indices': [62, 71]}]
[{'text': 'WKCDogShow', 'indices': [26, 37]}]
[{'text': 'BellLetsTalk', 'indices': [42, 55]}]
[{'text': 'WomensMarch', 'indices': [62, 74]}]
[{'text': 'ImWithThor', 'indices': [0, 11]}]
[{'text': 'BarkWeek', 'indices': [0, 9]}]
[{'text': 'BarkWeek', 'indices': [33, 42]}]
[{'text': 'BarkWeek', 'indices': [32, 41]}]
[{'text': 'FinalFur', 'indices': [40, 49]}]
[{'text': 'LoveTwitter', 'indices': [61, 73]}]
[{'text': 'notallpuppers', 'indices': [101, 115]}]
[{'text': 'NoDaysOff', 'indices': [98, 108]}, {'text': 'swole', 'indices': [109, 115]}]
total 19

# Issues with Twitter API Data: 

### Quality 
1)There isn't enough Hashtag Data. This should be removed entirely.

2)Tweet_id should be strings. 

### Tidiness Issues with Twitter API Data: 
1) created_at should either be parsed out to multiple fields or the data type should change to date.

# Clean : Twitter Archive Data

In [17]:
#starting with copying df_arch
df_arch_clean = df_arch.copy()

### Issue
tweet_id should be strings, not integers.

### Code

In [18]:
df_arch_clean["tweet_id"] = df_arch_clean["tweet_id"].astype("str")

### Test

In [19]:
type(df_arch_clean["tweet_id"])

pandas.core.series.Series

### Issue
Web Source should be just have the device, web ect.

In [20]:
df_arch_clean["source"].value_counts()
#this explains that there are only four sources:iPhone, Vine, Twitter Web, and TweetDeck.

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

### Code

In [21]:
df_arch_clean['source'] = df_arch_clean['source'].str.replace('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'iPhone')
df_arch_clean['source'] = df_arch_clean['source'].str.replace('<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>', 'Vine')
df_arch_clean['source'] = df_arch_clean['source'].str.replace('<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'Web')
df_arch_clean['source'] = df_arch_clean['source'].str.replace('<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>', 'TweetDeck')

In [22]:
df_arch_clean['source'] = df_arch_clean['source'].astype('category')

### Test

In [23]:
df_arch_clean['source'].value_counts()
#before the data source as category, it was int.

iPhone       2221
Vine           91
Web            33
TweetDeck      11
Name: source, dtype: int64

### Issue

In [24]:
# retweets should be deleted. retweets can be discovered through running the below:
df_arch_clean[df_arch_clean['retweeted_status_timestamp'].notnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,iPhone,RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,iPhone,RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,https://twitter.com/dog_rates/status/886053434...,12,10,None,None,None,None,None
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,iPhone,RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,https://twitter.com/dog_rates/status/830583320...,13,10,Lilly,None,None,None,None
68,879130579576475649,NaN,NaN,2017-06-26 00:13:58 +0000,iPhone,RT @dog_rates: This is Emmy. She was adopted t...,8.780576e+17,4.196984e+09,2017-06-23 01:10:23 +0000,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,None,None,None,None
73,878404777348136964,NaN,NaN,2017-06-24 00:09:53 +0000,iPhone,RT @dog_rates: Meet Shadow. In an attempt to r...,8.782815e+17,4.196984e+09,2017-06-23 16:00:04 +0000,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,None,None,None,None
74,878316110768087041,NaN,NaN,2017-06-23 18:17:33 +0000,iPhone,RT @dog_rates: Meet Terrance. He's being yelle...,6.690004e+17,4.196984e+09,2015-11-24 03:51:38 +0000,https://twitter.com/dog_rates/status/669000397...,11,10,Terrance,None,None,None,None
78,877611172832227328,NaN,NaN,2017-06-21 19:36:23 +0000,iPhone,RT @rachel2195: @dog_rates the boyfriend and h...,8.768508e+17,5.128045e+08,2017-06-19 17:14:49 +0000,https://twitter.com/rachel2195/status/87685077...,14,10,None,None,None,pupper,None
91,874434818259525634,NaN,NaN,2017-06-13 01:14:41 +0000,iPhone,RT @dog_rates: This is Coco. At first I though...,8.663350e+17,4.196984e+09,2017-05-21 16:48:45 +0000,https://twitter.com/dog_rates/status/866334964...,12,10,Coco,None,None,None,None
95,873697596434513921,NaN,NaN,2017-06-11 00:25:14 +0000,iPhone,RT @dog_rates: This is Walter. He won't start ...,8.688804e+17,4.196984e+09,2017-05-28 17:23:24 +0000,https://twitter.com/dog_rates/status/868880397...,14,10,Walter,None,None,None,None
97,873337748698140672,NaN,NaN,2017-06-10 00:35:19 +0000,iPhone,RT @dog_rates: This is Sierra. She's one preci...,8.732138e+17,4.196984e+09,2017-06-09 16:22:42 +0000,https://www.gofundme.com/help-my-baby-sierra-g...,12,10,Sierra,None,None,pupper,None
101,872668790621863937,NaN,NaN,2017-06-08 04:17:07 +0000,iPhone,RT @loganamnosis: Penelope here is doing me qu...,8.726576e+17,1.547674e+08,2017-06-08 03:32:35 +0000,https://twitter.com/loganamnosis/status/872657...,14,10,None,None,None,None,None
109,871166179821445120,NaN,NaN,2017-06-04 00:46:17 +0000,iPhone,RT @dog_rates: This is Dawn. She's just checki...,8.410770e+17,4.196984e+09,2017-03-13 00:02:39 +0000,https://twitter.com/dog_rates/status/841077006...,12,10,Dawn,None,None,None,None
118,869988702071779329,NaN,NaN,2017-05-31 18:47:24 +0000,iPhone,RT @dog_rates: We only rate dogs. This is quit...,8.591970e+17,4.196984e+09,2017-05-02 00:04:57 +0000,https://twitter.com/dog_rates/status/859196978...,12,10,quite,None,None,None,None
124,868639477480148993,NaN,NaN,2017-05-28 01:26:04 +0000,iPhone,RT @dog_rates: Say hello to Cooper. His expres...,8.685523e+17,4.196984e+09,2017-05-27 19:39:34 +0000,"https://www.gofundme.com/3ti3nps,https://twitt...",12,10,Cooper,None,None,None,None
130,867072653475098625,NaN,NaN,2017-05-23 17:40:04 +0000,iPhone,RT @rachaeleasler: these @dog_rates hats are 1...,8.650134e+17,7.874618e+17,2017-05-18 01:17:25 +0000,https://twitter.com/rachaeleasler/status/86501...,13,10,None,None,None,None,None
132,866816280283807744,NaN,NaN,2017-05-23 00:41:20 +0000,iPhone,RT @dog_rates: This is Jamesy. He gives a kiss...,8.664507e+17,4.196984e+09,2017-05-22 00:28:40 +0000,https://twitter.com/dog_rates/status/866450705...,13,10,Jamesy,None,None,pupper,None
137,866094527597207552,NaN,NaN,2017-05-21 00:53:21 +0000,iPhone,RT @dog_rates: Here's a pupper before and afte...,8.378202e+17,4.196984e+09,2017-03-04 00:21:08 +0000,https://twitter.com/dog_rates/status/837820167...,12,10,None,None,None,pupper,None
146,863471782782697472,NaN,NaN,2017-05-13 19:11:30 +0000,iPhone,RT @dog_rates: Say hello to Quinn. She's quite...,8.630625e+17,4.196984e+09,2017-05-12 16:05:02 +0000,"https://www.gofundme.com/helpquinny,https://tw...",13,10,Quinn,None,None,None,None
155,861769973181624320,NaN,NaN,2017-05-09 02:29:07 +0000,iPhone,"RT @dog_rates: ""Good afternoon class today we'...",8.066291e+17,4.196984e+09,2016-12-07 22:38:52 +0000,https://twitter.com/dog_rates/status/806629075...,13,10,None,None,None,None,None
159,860981674716409858,NaN,NaN,2017-05-06 22:16:42 +0000,iPhone,RT @dog_rates: Meet Lorenzo. He's an avid nift...,8.605638e+17,4.196984e+09,2017-05-05 18:36:06 +0000,https://www.gofundme.com/help-lorenzo-beat-can...,13,10,Lorenzo,None,None,None,None
160,860924035999428608,NaN,NaN,2017-05-06 18:27:40 +0000,iPhone,RT @tallylott: h*ckin adorable promposal. 13/1...,8.609145e+17,3.638908e+08,2017-05-06 17:49:42 +0000,https://twitter.com/tallylott/status/860914485...,13,10,None,None,None,None,None
165,860177593139703809,NaN,NaN,2017-05-04 17:01:34 +0000,iPhone,RT @dog_rates: Ohboyohboyohboyohboyohboyohboyo...,7.616730e+17,4.196984e+09,2016-08-05 21:19:27 +0000,https://twitter.com/dog_rates/status/761672994...,10,10,None,None,None,None,None
171,858860390427611136,NaN,NaN,2017-05-01 01:47:28 +0000,iPhone,RT @dog_rates: Meet Winston. He knows he's a l...,8.395493e+17,4.196984e+09,2017-03-08 18:52:12 +0000,https://twitter.com/dog_rates/status/839549326...,12,10,Winston,None,None,None,None
180,857062103051644929,NaN,NaN,2017-04-26 02:41:43 +0000,iPhone,RT @AaronChewning: First time wearing my @dog_...,8.570611e+17,5.870972e+07,2017-04-26 02:37:47 +0000,https://twitter.com/AaronChewning/status/85706...,13,10,None,None,None,None,None
182,856602993587888130,NaN,NaN,2017-04-24 20:17:23 +0000,iPhone,RT @dog_rates: This is Luna. It's her first ti...,8.447048e+17,4.196984e+09,2017-03-23 00:18:10 +0000,https://twitter.com/dog_rates/status/844704788...,13,10,Luna,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,iPhone,RT @Jenna_Marbles: @dog_rates Thanks for ratin...,8.563302e+17,6.669901e+07,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
194,855245323840757760,NaN,NaN,2017-04-21 02:22:29 +0000,iPhone,RT @dog_rates: Meet George. He looks slightly ...,8.421635e+17,4.196984e+09,2017-03-16 00:00:07 +0000,https://twitter.com/dog_rates/status/842163532...,12,10,George,None,None,None,None
195,855138241867124737,NaN,NaN,2017-04-20 19:16:59 +0000,iPhone,RT @frasercampbell_: oh my... what's that... b...,8.551225e+17,7.475543e+17,2017-04-20 18:14:33 +0000,https://twitter.com/frasercampbell_/status/855...,14,10,None,None,None,None,None
204,852936405516943360,NaN,NaN,2017-04-14 17:27:40 +0000,iPhone,RT @dog_rates: I usually only share these on F...,8.316501e+17,4.196984e+09,2017-02-14 23:43:18 +0000,"http://www.gofundme.com/bluethewhitehusky,http...",13,10,None,None,None,None,None
211,851953902622658560,NaN,NaN,2017-04-12 00:23:33 +0000,iPhone,RT @dog_rates: This is Astrid. She's a guide d...,8.293743e+17,4.196984e+09,2017-02-08 17:00:26 +0000,https://twitter.com/dog_rates/status/829374341...,13,10,Astrid,doggo,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,iPhone,"RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
794,773336787167145985,NaN,NaN,2016-09-07 01:47:12 +0000,iPhone,RT @dog_rates: Meet Fizz. She thinks love is a...,7.713808e+17,4.196984e+09,2016-09-01 16:14:48 +0000,https://twitter.com/dog_rates/status/771380798...,11,10,Fizz,None,None,None,None
800,772615324260794368,NaN,NaN,2016-09-05 02:00:22 +0000,iPhone,RT @dog_rates: This is Gromit. He's pupset bec...,7.652221e+17,4.196984e+09,2016-08-15 16:22:20 +0000,https://twitter.com/dog_rates/status/765222098...,10,10,Gromit,None,None,None,None
811,771171053431250945,NaN,NaN,2016-09-01 02:21:21 +0000,iPhone,RT @dog_rates: This is Frankie. He's wearing b...,6.733201e+17,4.196984e+09,2015-12-06 01:56:44 +0000,https://twitter.com/dog_rates/status/673320132...,11,10,Frankie,None,None,None,None
815,771004394259247104,NaN,NaN,2016-08-31 15:19:06 +0000,iPhone,RT @katieornah: @dog_rates learning a lot at c...,7.710021e+17,1.732729e+09,2016-08-31 15:10:07 +0000,https://twitter.com/katieornah/status/77100213...,12,10,None,None,None,pupper,None
818,770743923962707968,NaN,NaN,2016-08-30 22:04:05 +0000,iPhone,RT @dog_rates: Here's a doggo blowing bubbles....,7.392382e+17,4.196984e+09,2016-06-04 23:31:25 +0000,https://twitter.com/dog_rates/status/739238157...,13,10,None,doggo,None,None,None
822,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,iPhone,RT @dog_rates: This is just downright precious...,7.410673e+17,4.196984e+09,2016-06-10 00:39:48 +0000,https://twitter.com/dog_rates/status/741067306...,12,10,just,doggo,None,pupper,None
826,769335591808995329,NaN,NaN,2016-08-27 00:47:53 +0000,iPhone,RT @dog_rates: Ever seen a dog pet another dog...,7.069045e+17,4.196984e+09,2016-03-07 18:09:06 +0000,"https://vine.co/v/iXQAm5Lrgrh,https://vine.co/...",13,10,None,None,None,None,None
829,768909767477751808,NaN,NaN,2016-08-25 20:35:48 +0000,iPhone,RT @dog_rates: When it's Janet from accounting...,7.001438e+17,4.196984e+09,2016-02-18 02:24:13 +0000,https://twitter.com/dog_rates/status/700143752...,10,10,None,None,None,pupper,None
833,768554158521745409,NaN,NaN,2016-08-24 21:02:45 +0000,iPhone,RT @dog_rates: This is Nollie. She's waving at...,7.399792e+17,4.196984e+09,2016-06-07 00:36:02 +0000,https://twitter.com/dog_rates/status/739979191...,12,10,Nollie,None,None,None,None
841,766864461642756096,NaN,NaN,2016-08-20 05:08:29 +0000,iPhone,RT @dog_rates: We only rate dogs... this is a ...,7.599238e+17,4.196984e+09,2016-08-01 01:28:46 +0000,https://twitter.com/dog_rates/status/759923798...,10,10,None,None,None,None,None
847,766078092750233600,NaN,NaN,2016-08-18 01:03:45 +0000,iPhone,RT @dog_rates: This is Colby. He's currently r...,7.258423e+17,4.196984e+09,2016-04-29 00:21:01 +0000,https://twitter.com/dog_rates/status/725842289...,12,10,Colby,None,None,None,None
860,763167063695355904,NaN,NaN,2016-08-10 00:16:21 +0000,iPhone,RT @dog_rates: Meet Eve. She's a raging alcoho...,6.732953e+17,4.196984e+09,2015-12-06 00:17:55 +0000,https://twitter.com/dog_rates/status/673295268...,8,10,Eve,None,None,pupper,None
868,761750502866649088,NaN,NaN,2016-08-06 02:27:27 +0000,iPhone,"RT @dog_rates: ""Tristan do not speak to me wit...",6.853251e+17,4.196984e+09,2016-01-08 05:00:14 +0000,https://twitter.com/dog_rates/status/685325112...,10,10,None,None,None,None,None
872,761371037149827077,NaN,NaN,2016-08-05 01:19:35 +0000,iPhone,RT @dog_rates: Oh. My. God. 13/10 magical af h...,7.116948e+17,4.196984e+09,2016-03-20 23:23:54 +0000,https://twitter.com/dog_rates/status/711694788...,13,10,None,None,None,None,None
885,760153949710192640,NaN,NaN,2016-08-01 16:43:19 +0000,iPhone,RT @hownottodraw: The story/person behind @dog...,7.601538e+17,1.950368e+08,2016-08-01 16:42:51 +0000,"https://weratedogs.com/pages/about-us,https://...",11,10,None,None,None,None,None
890,759566828574212096,NaN,NaN,2016-07-31 01:50:18 +0000,iPhone,RT @dog_rates: This... is a Tyrannosaurus rex....,7.395441e+17,4.196984e+09,2016-06-05 19:47:03 +0000,https://twitter.com/dog_rates/status/739544079...,10,10,None,None,None,None,None
895,759159934323924993,NaN,NaN,2016-07-29 22:53:27 +0000,iPhone,RT @dog_rates: AT DAWN...\nWE RIDE\n\n11/10 ht...,6.703191e+17,4.196984e+09,2015-11-27 19:11:49 +0000,https://twitter.com/dog_rates/status/670319130...,11,10,None,None,None,None,None
908,757729163776290825,NaN,NaN,2016-07-26 00:08:05 +0000,iPhone,RT @dog_rates: This is Chompsky. He lives up t...,6.790626e+17,4.196984e+09,2015-12-21 22:15:18 +0000,https://twitter.com/dog_rates/status/679062614...,11,10,Chompsky,None,None,None,None
911,757597904299253760,NaN,NaN,2016-07-25 15:26:30 +0000,iPhone,RT @jon_hill987: @dog_rates There is a cunning...,7.575971e+17,2.804798e+08,2016-07-25 15:23:28 +0000,https://twitter.com/jon_hill987/status/7575971...,11,10,None,None,None,pupper,None
926,754874841593970688,NaN,NaN,2016-07-18 03:06:01 +0000,iPhone,RT @dog_rates: This is Rubio. He has too much ...,6.791584e+17,4.196984e+09,2015-12-22 04:35:49 +0000,https://twitter.com/dog_rates/status/679158373...,11,10,Rubio,None,None,None,None
937,753298634498793472,NaN,NaN,2016-07-13 18:42:44 +0000,iPhone,RT @dog_rates: This is Carly. She's actually 2...,6.815232e+17,4.196984e+09,2015-12-28 17:12:42 +0000,https://twitter.com/dog_rates/status/681523177...,12,10,Carly,None,None,None,None
943,752701944171524096,NaN,NaN,2016-07-12 03:11:42 +0000,iPhone,RT @dog_rates: HEY PUP WHAT'S THE PART OF THE ...,6.835159e+17,4.196984e+09,2016-01-03 05:11:12 +0000,"https://vine.co/v/ibvnzrauFuV,https://vine.co/...",11,10,None,None,None,None,None
949,752309394570878976,NaN,NaN,2016-07-11 01:11:51 +0000,iPhone,RT @dog_rates: Everyone needs to watch this. 1...,6.753544e+17,4.196984e+09,2015-12-11 16:40:19 +0000,https://twitter.com/dog_rates/status/675354435...,13,10,None,None,None,None,None
1012,747242308580548608,NaN,NaN,2016-06-27 01:37:04 +0000,iPhone,RT @dog_rates: This pupper killed this great w...,7.047611e+17,4.196984e+09,2016-03-01 20:11:59 +0000,https://twitter.com/dog_rates/status/704761120...,13,10,None,None,None,pupper,None
1023,746521445350707200,NaN,NaN,2016-06-25 01:52:36 +0000,iPhone,RT @dog_rates: This is Shaggy. He knows exactl...,6.678667e+17,4.196984e+09,2015-11-21 00:46:50 +0000,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,None,None,None,None
1043,743835915802583040,NaN,NaN,2016-06-17 16:01:16 +0000,iPhone,RT @dog_rates: Extremely intelligent dog here....,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/667138269...,10,10,None,None,None,None,None
1242,711998809858043904,NaN,NaN,2016-03-21 19:31:59 +0000,iPhone,RT @twitter: @dog_rates Awesome Tweet! 12/10. ...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/twitter/status/71199827977...,12,10,None,None,None,None,None
2259,667550904950915073,NaN,NaN,2015-11-20 03:51:52 +0000,Web,RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,https://twitter.com/dogratingrating/status/667...,12,10,None,None,None,None,None
2260,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,Web,RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dogratingrating/status/667...,5,10,None,None,None,None,None

### Code

In [25]:
del_list = []
del_list = df_arch_clean[df_arch_clean['retweeted_status_timestamp'].notnull()]['tweet_id']
#this list contains the user id of the tweets that should be deleted.
del_index = del_list.index
#I can just drop the del index!
df_arch_clean = df_arch_clean.drop(del_index)

### Test

In [26]:
df_arch_clean[df_arch_clean['retweeted_status_timestamp'].notnull()]
#Got nothing back! it worked!

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

### Issue 
Retweet columns, and hashtag columns should be dropped. There's not enough on these columns:
in_reply_to_user_id
in_reply_to_status_id
retweeted_status_id
retweeted_status_user_id
retweeted_status_timestamp

In [27]:
#df_arch_clean['in_reply_to_user_id'].value_counts()
#df_arch_clean['in_reply_to_status_id'].value_counts()
#df_arch_clean['retweeted_status_id'].value_counts()
#df_arch_clean['retweeted_status_user_id'].value_counts()
#df_arch_clean['retweeted_status_timestamp'].value_counts()

### Code

In [28]:
df_arch_clean = df_arch_clean.drop('in_reply_to_user_id', axis = 1)
df_arch_clean = df_arch_clean.drop('in_reply_to_status_id', axis = 1)
df_arch_clean = df_arch_clean.drop('retweeted_status_id', axis = 1)
df_arch_clean = df_arch_clean.drop('retweeted_status_user_id', axis = 1)
df_arch_clean = df_arch_clean.drop('retweeted_status_timestamp', axis = 1)

### Test

In [29]:
df_arch_clean.info()
#columns are gone!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null object
source                2175 non-null category
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: category(1), int64(2), object(9)
memory usage: 206.2+ KB

### Issue
Time stamp shows up with date and time. initlally I tried to seperate the time vs date by writing the seperate code below. I suppose you can create a seperate column for Date and Time, but there is a better way! I can just change the data format to "datetime64".

In [30]:
#parsing out date vs time in "timestamp":
date = []
time = []
for line in df_arch_clean["timestamp"]:
    n = line.split()[0]
    t = line.split()[1]
    date.append(n)
    time.append(t)
#printing out date and time will show that the two lists has the time and date separated.

### Code

In [31]:
df_arch_clean.timestamp = pd.to_datetime(df_arch_clean.timestamp)

### Test

In [32]:
df_arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
source                2175 non-null category
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: category(1), datetime64[ns](1), int64(2), object(8)
memory usage: 206.2+ KB

### Issue

In [33]:
df_arch_clean.loc[df_arch_clean.tweet_id== '681340665377193984', 'text']
#some ratings were incorrectly extracted. For example ID: 681340665377193984 should be 9.5 but only 5 was picked up.

1689    I've been told there's a slight possibility he...
Name: text, dtype: object

### Code

In [34]:
#change the denominator and numerator as data type: floating point because these values are decimals
df_arch_clean['rating_denominator'] = df_arch_clean['rating_denominator'].astype('float')
df_arch_clean['rating_numerator'] = df_arch_clean['rating_numerator'].astype('float')

In [35]:
#view data from that has a decimal value from the "text". The reviewer pointed out that the the regular expression made an error and only extrate one number. 

df_arch_clean[df_arch_clean.text.str.contains(r"([0-9]+\.[0-9]*\/\d+)")]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
45,883482846933004288,2017-07-08 00:28:19,iPhone,This is Bella. She hopes her smile made you sm...,https://twitter.com/dog_rates/status/883482846...,5.0,10.0,Bella,None,None,None,None
695,786709082849828864,2016-10-13 23:23:56,iPhone,"This is Logan, the Chow who lived. He solemnly...",https://twitter.com/dog_rates/status/786709082...,75.0,10.0,Logan,None,None,None,None
763,778027034220126208,2016-09-20 00:24:34,iPhone,This is Sophie. She's a Jubilant Bush Pupper. ...,https://twitter.com/dog_rates/status/778027034...,27.0,10.0,Sophie,None,None,pupper,None
1689,681340665377193984,2015-12-28 05:07:27,iPhone,I've been told there's a slight possibility he...,NaN,5.0,10.0,None,None,None,None,None
1712,680494726643068929,2015-12-25 21:06:00,iPhone,Here we have uncovered an entire battalion of ...,https://twitter.com/dog_rates/status/680494726...,26.0,10.0,None,None,None,None,None

These fields ID's are problematic.

883482846933004288  :Rating 13.5/10 

832215909146226688 :Rating 9.75/10

786709082849828864 :Rating 9.75/10

778027034220126208 :Rating 11.27/10

681340665377193984 :Rating 9.5/10

680494726643068929 :Rating 11.26/10

In [36]:
#df_arch_clean[df_arch_clean.tweet_id == '883482846933004288'].rating_numerator = 13.5
#this didn't work. 
#df_arch_clean.loc[df_arch_clean.tweet_id == '883482846933004288']=11.27
#this didn't work either. 
#http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

df_arch_clean.loc[df_arch_clean.tweet_id == '883482846933004288', 'rating_numerator'] = 13.5
df_arch_clean.loc[df_arch_clean.tweet_id == '832215909146226688', 'rating_numerator'] = 9.75
df_arch_clean.loc[df_arch_clean.tweet_id == '786709082849828864', 'rating_numerator'] = 9.75
df_arch_clean.loc[df_arch_clean.tweet_id == '778027034220126208', 'rating_numerator'] = 11.27
df_arch_clean.loc[df_arch_clean.tweet_id == '681340665377193984', 'rating_numerator'] = 9.5
df_arch_clean.loc[df_arch_clean.tweet_id == '680494726643068929', 'rating_numerator'] = 11.26

### Test

In [37]:
df_arch_clean[df_arch_clean['tweet_id']== '883482846933004288'].rating_numerator
#worked

45    13.5
Name: rating_numerator, dtype: float64

### Issue
Rating as numerator/denominator is missing.

### Code

In [38]:
df_arch_clean['rating_value'] = df_arch_clean['rating_numerator'] / df_arch_clean['rating_denominator']

### Test

In [39]:
df_arch_clean['rating_value'].head()
#It worked!

0    1.3
1    1.3
2    1.2
3    1.3
4    1.2
Name: rating_value, dtype: float64

### Issue 
The following columns have None instead of Null:
name doggo floofer pupper puppo

This column can be combined as one dog_stage

In [40]:
#df_arch_clean[df_arch_clean['doggo'] == 'None']
#df_arch_clean.doggo.head()

In [41]:
#replace 'None' with np.NaN
#https://stackoverflow.com/questions/34794067/how-to-set-a-cell-to-nan-in-a-pandas-dataframe
df_arch_clean.loc[df_arch_clean.doggo=='None', 'doggo'] = np.NaN
df_arch_clean.loc[df_arch_clean.floofer=='None', 'floofer'] = np.NaN
df_arch_clean.loc[df_arch_clean.pupper=='None', 'pupper'] = np.NaN
df_arch_clean.loc[df_arch_clean.puppo=='None', 'puppo'] = np.NaN

In [42]:
df_arch_clean[df_arch_clean['doggo'] == 'None']
#nothing shows up!

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, rating_value]
Index: []

In [43]:
df_arch_clean['dog_stage'] = df_arch_clean['text'].str.extract('(doggo|floofer|pupper|puppo)', expand=True)
#tried using melt and didn't work. Value got doubled...so I had to get creative with strings.

In [44]:
#get rid of the columns
df_arch_clean = df_arch_clean.drop('doggo', axis=1)
df_arch_clean = df_arch_clean.drop('floofer', axis=1)
df_arch_clean = df_arch_clean.drop('pupper', axis=1)
df_arch_clean = df_arch_clean.drop('puppo', axis=1)

In [45]:
# and we need to use the 'melt' to combine these into a single column
#df_arch_clean['dog_stage'] = np.NaN
#df_arch_clean = pd.melt(df_arch_clean, 
#                        id_vars=['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
#       'rating_numerator', 'rating_denominator', 'name', 'rating_value'],
#                        var_name= 'dog_stage',
#                        value_name= 'temp')
#df_arch_clean = df_arch_clean.drop('temp', axis=1)

In [46]:
df_arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 10 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
source                2175 non-null category
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null float64
rating_denominator    2175 non-null float64
name                  2175 non-null object
rating_value          2175 non-null float64
dog_stage             364 non-null object
dtypes: category(1), datetime64[ns](1), float64(3), object(5)
memory usage: 172.2+ KB

# Clean: Image Data

In [47]:
#next we move on to the df_image_algo_clean data
#first, copy the data. 
df_img_algo_clean = df_img_algo.copy()
df_img_algo_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### Issue
tweet_id should be strings

### Code

In [48]:
df_img_algo_clean.tweet_id = df_img_algo_clean.tweet_id.astype(str)

### Test

In [49]:
df_img_algo_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

### Issue
The following columns are not descriptive:
p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog,

### Code

In [50]:
df_img_algo_clean.rename(columns={'p1' : 'prediction_1',
                                  'p2' : 'prediction_2',
                                  'p3' : 'prediction_3',
                                  'p1_conf' : 'p1_confidence',
                                  'p2_conf' : 'p2_confidence',
                                  'p3_conf' : 'p3_confidence',
                                  'p1_dog' : 'predict_1_breed',
                                  'p2_dog' : 'predict_2_breed',
                                  'p3_dog' : 'predict_3_breed',
                                 }, inplace = True)
#https://chrisalbon.com/python/data_wrangling/pandas_rename_multiple_columns/

### Test

In [51]:
df_img_algo_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'prediction_1', 'p1_confidence',
       'predict_1_breed', 'prediction_2', 'p2_confidence', 'predict_2_breed',
       'prediction_3', 'p3_confidence', 'predict_3_breed'],
      dtype='object')

### change values into lower case in the following columns: 
prediction_1
prediction_2
prediction_3

In [52]:
df_img_algo_clean['prediction_1'] = df_img_algo_clean['prediction_1'].str.lower()
df_img_algo_clean['prediction_2'] = df_img_algo_clean['prediction_2'].str.lower()
df_img_algo_clean['prediction_3'] = df_img_algo_clean['prediction_3'].str.lower()

In [53]:
df_img_algo_clean.head()

,tweet_id,jpg_url,img_num,prediction_1,p1_confidence,predict_1_breed,prediction_2,p2_confidence,predict_2_breed,prediction_3,p3_confidence,predict_3_breed
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,welsh_springer_spaniel,0.465074,True,collie,0.156665,True,shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,german_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True

# Clean: Twitter JSON Data

In [54]:
#lastly we move on to df_tweet_json. 
df_tweet_json_clean = df_tweet_json.copy()

### Issue
There isn't enough data on hashtag column. We need to remove them.

### Code

In [55]:
df_tweet_json_clean = df_tweet_json_clean.drop('hashtags', axis = 1)

### Test

In [56]:
df_tweet_json_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 6 columns):
tweet_id           2345 non-null object
retweet_count      2345 non-null int64
favorite_count     2345 non-null int64
followers_count    2345 non-null int64
url                2345 non-null object
created_at         2345 non-null object
dtypes: int64(3), object(3)
memory usage: 110.0+ KB

### Issue
the created_at column has the wrong type.

### Code

In [57]:
#df_tweet_json_clean['created_at'].astype(datetime)
df_tweet_json_clean.created_at = pd.to_datetime(df_tweet_json_clean.created_at)

### Test

In [58]:
df_tweet_json_clean['created_at'].head()
#looks great

0   2017-08-01 16:23:56
1   2017-08-01 00:17:27
2   2017-07-31 00:18:03
3   2017-07-30 15:58:51
4   2017-07-29 16:00:24
Name: created_at, dtype: datetime64[ns]

### Saving the files to CSV

In [59]:
df_arch_clean.to_csv('twitter_archive_master.csv')
df_img_algo_clean.to_csv('df_img_algo_clean')
df_tweet_json_clean.to_csv('df_tweet_json_clean')

In [60]:
#df_arch_clean.head(50)
#df_img_algo_clean.head(50)
#df_tweet_json_clean.head(50)

# Analysis 1)

When do people tweet?

In [61]:
df1 = df_arch_clean.copy()
df1['timestamp'] = pd.to_datetime(df1['timestamp'])
df1['day_of_week'] = df1['timestamp'].dt.weekday_name
#https://stackoverflow.com/questions/30222533/create-a-day-of-week-column-in-a-pandas-dataframe-using-python

In [62]:
df1['day_of_week'].value_counts()

Monday       357
Tuesday      326
Wednesday    322
Thursday     305
Friday       305
Saturday     284
Sunday       276
Name: day_of_week, dtype: int64

In [63]:
df1[df1['day_of_week']== 'Monday']['tweet_id'].count()

357

In [64]:
import plotly
plotly.tools.set_credentials_file(username='
import plotly.plotly as py
#from plotly.graph_objs import *
import plotly.graph_objs as go

data = [go.Bar(
            x=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            y=[df1[df1['day_of_week']== 'Monday']['tweet_id'].count(), 
               df1[df1['day_of_week']== 'Tuesday']['tweet_id'].count(), 
               df1[df1['day_of_week']== 'Wednesday']['tweet_id'].count(), 
               df1[df1['day_of_week']== 'Thursday']['tweet_id'].count(), 
               df1[df1['day_of_week']== 'Friday']['tweet_id'].count(), 
               df1[df1['day_of_week']== 'Saturday']['tweet_id'].count(), 
               df1[df1['day_of_week']== 'Sunday']['tweet_id'].count()
              ]
    )]
layout = go.Layout(  
    title='Day of the Week by number of Tweet'
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Day of the Week by number of Tweet')

I wanted to see which day of the week people tweet the most and the trend is insightful. It starts with Monday as the highest count and gradually declines over the days!

Monday       384
Tuesday      356
Wednesday    354
Friday       333
Thursday     326
Saturday     309
Sunday       294

# Analysis 2)

What were the inaccurate results for all three models? 
How accurate is the predictor model?

In [65]:
df2= df_img_algo_clean.copy()
df2.info()
#df2
df2[(df2['predict_1_breed'] == False) & (df2['predict_2_breed'] == False) & (df2['predict_3_breed'] == False)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id           2075 non-null object
jpg_url            2075 non-null object
img_num            2075 non-null int64
prediction_1       2075 non-null object
p1_confidence      2075 non-null float64
predict_1_breed    2075 non-null bool
prediction_2       2075 non-null object
p2_confidence      2075 non-null float64
predict_2_breed    2075 non-null bool
prediction_3       2075 non-null object
p3_confidence      2075 non-null float64
predict_3_breed    2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,prediction_1,p1_confidence,predict_1_breed,prediction_2,p2_confidence,predict_2_breed,prediction_3,p3_confidence,predict_3_breed
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,4.588540e-02,False,terrapin,1.788530e-02,False
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,3.391940e-02,False,partridge,5.206580e-05,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,8.554740e-02,False,bookcase,7.947970e-02,False
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,1.525000e-02,False,great_grey_owl,1.320720e-02,False
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,2.402450e-03,False,hamster,4.608630e-04,False
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,2.714850e-01,False,gar,1.899450e-01,False
45,666786068205871104,https://pbs.twimg.com/media/CUDmZIkWcAAIPPe.jpg,1,snail,0.999888,False,slug,5.514170e-05,False,acorn,2.625800e-05,False
50,666837028449972224,https://pbs.twimg.com/media/CUEUva1WsAA2jPb.jpg,1,triceratops,0.442113,False,armadillo,1.140710e-01,False,common_iguana,4.325530e-02,False
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,1.901420e-01,False,wig,3.450970e-02,False
53,667012601033924608,https://pbs.twimg.com/media/CUG0bC0U8AAw2su.jpg,1,hyena,0.987230,False,african_hunting_dog,1.260080e-02,False,coyote,5.735010e-05,False
56,667065535570550784,https://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg,1,jigsaw_puzzle,0.560001,False,doormat,1.032590e-01,False,space_heater,4.256800e-02,False
69,667188689915760640,https://pbs.twimg.com/media/CUJUk2iWUAAVtOv.jpg,1,vacuum,0.335830,False,swab,2.652780e-01,False,toilet_tissue,1.407030e-01,False
73,667369227918143488,https://pbs.twimg.com/media/CUL4xR9UkAEdlJ6.jpg,1,teddy,0.709545,False,bath_towel,1.272850e-01,False,christmas_stocking,2.856750e-02,False
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,6.300490e-03,False,badger,9.663400e-04,False
78,667443425659232256,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,1,goose,0.980815,False,drake,6.917770e-03,False,hen,5.255170e-03,False
93,667549055577362432,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1,electric_fan,0.984377,False,spotlight,7.736710e-03,False,lampshade,1.901230e-03,False
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,2.010840e-04,False,oscilloscope,1.417360e-04,False
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,ibex,0.619098,False,bighorn,1.251190e-01,False,ram,7.467320e-02,False
98,667766675769573376,https://pbs.twimg.com/media/CURiQMnUAAAPT2M.jpg,1,fire_engine,0.883493,False,tow_truck,7.473390e-02,False,jeep,1.277260e-02,False
100,667782464991965184,https://pbs.twimg.com/media/CURwm3cUkAARcO6.jpg,1,lorikeet,0.466149,False,hummingbird,8.301100e-02,False,african_grey,5.424740e-02,False
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
107,667873844930215936,https://pbs.twimg.com/media/CUTDtyGXIAARxus.jpg,1,common_iguana,0.999647,False,frilled_lizard,1.811500e-04,False,african_chameleon,1.283570e-04,False
112,667911425562669056,https://pbs.twimg.com/media/CUTl5m1WUAAabZG.jpg,1,frilled_lizard,0.257695,False,ox,2.351600e-01,False,triceratops,8.531690e-02,False
115,667937095915278337,https://pbs.twimg.com/media/CUT9PuQWwAABQv7.jpg,1,hamster,0.172078,False,guinea_pig,9.492420e-02,False,band_aid,5.999520e-02,False
117,668142349051129856,https://pbs.twimg.com/media/CUW37BzWsAAlJlN.jpg,1,angora,0.918834,False,hen,3.779340e-02,False,wood_rabbit,1.101490e-02,False
118,668154635664932864,https://pbs.twimg.com/media/CUXDGR2WcAAUQKz.jpg,1,arctic_fox,0.473584,False,wallaby,2.614110e-01,False,white_wolf,8.094780e-02,False
123,668226093875376128,https://pbs.twimg.com/media/CUYEFlQXAAUkPGm.jpg,1,trombone,0.390339,False,cornet,3.141490e-01,False,french_horn,2.551820e-01,False
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,1.363490e-03,False,badger,6.856500e-04,False
132,668466899341221888,https://pbs.twimg.com/media/CUbfGbbWoAApZth.jpg,1,shopping_basket,0.398361,False,hamper,3.632220e-01,False,bassinet,8.417350e-02,False
140,668544745690562560,https://pbs.twimg.com/media/CUcl5jeWsAA6ufS.jpg,1,bearskin,0.427870,False,bow,2.588580e-01,False,panpipe,2.156260e-02,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1839,837482249356513284,https://pbs.twimg.com/media/C59VqMUXEAAzldG.jpg,2,birdhouse,0.541196,False,can_opener,1.210940e-01,False,carton,5.613670e-02,False
1844,838916489579200512,https://pbs.twimg.com/media/C6RkiQZUsAAM4R4.jpg,2,web_site,0.993651,False,monitor,1.405900e-03,False,envelope,1.093090e-03,False
1847,839290600511926273,https://pbs.twimg.com/media/C6XBt9XXEAEEW9U.jpg,1,web_site,0.670892,False,monitor,1.015650e-01,False,screen,7.530610e-02,False
1851,840370681858686976,https://pbs.twimg.com/media/C6mYrK0UwAANhep.jpg,1,teapot,0.981819,False,cup,1.402580e-02,False,coffeepot,2.420540e-03,False
1853,840696689258311684,https://pbs.twimg.com/media/C6rBLenU0AAr8MN.jpg,1,web_site,0.841768,False,rule,7.087310e-03,False,envelope,6.820300e-03,False
1869,844580511645339650,https://pbs.twimg.com/media/C7iNfq1W0AAcbsR.jpg,1,washer,0.903064,False,dishwasher,3.248900e-02,False,printer,1.645620e-02,False
1886,847962785489326080,https://pbs.twimg.com/media/C8SRpHNUIAARB3j.jpg,1,sea_lion,0.882654,False,mink,6.688020e-02,False,otter,2.567870e-02,False
1887,847971574464610304,https://pbs.twimg.com/media/C8SZH1EWAAAIRRF.jpg,1,coffee_mug,0.633652,False,cup,2.733920e-01,False,toilet_tissue,6.665580e-02,False
1891,849051919805034497,https://pbs.twimg.com/media/C8hwNxbXYAAwyVG.jpg,1,fountain,0.997509,False,american_black_bear,1.413120e-03,False,sundial,6.811150e-04,False
1892,849336543269576704,https://pbs.twimg.com/media/C8lzFC4XcAAQxB4.jpg,1,patio,0.521788,False,prison,1.495440e-01,False,restaurant,2.715260e-02,False
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,2.630610e-02,False,crossword_puzzle,3.481510e-03,False
1902,851861385021730816,https://pbs.twimg.com/media/C8W6sY_W0AEmttW.jpg,1,pencil_box,0.662183,False,purse,6.650550e-02,False,pillow,4.472530e-02,False
1905,852226086759018497,https://pbs.twimg.com/ext_tw_video_thumb/85222...,1,prison,0.352793,False,dishwasher,1.107230e-01,False,file,9.411200e-02,False
1906,852311364735569921,https://pbs.twimg.com/media/C9QEqZ7XYAIR7fS.jpg,1,barbell,0.971581,False,dumbbell,2.841790e-02,False,go-kart,5.595040e-07,False
1910,853299958564483072,https://pbs.twimg.com/media/C9eHyF7XgAAOxPM.jpg,1,grille,0.652280,False,beach_wagon,1.128460e-01,False,convertible,8.625230e-02,False
1931,859074603037188101,https://pbs.twimg.com/media/C-wLyufW0AA546I.jpg,1,revolver,0.190292,False,projectile,1.490640e-01,False,fountain,6.604660e-02,False
1936,860184849394610176,https://pbs.twimg.com/media/C-_9jWWUwAAnwkd.jpg,1,chimpanzee,0.267612,False,gorilla,1.042930e-01,False,orangutan,5.990750e-02,False
1937,860276583193509888,https://pbs.twimg.com/media/C_BQ_NlVwAAgYGD.jpg,1,lakeside,0.312299,False,dock,1.598420e-01,False,canoe,7.079450e-02,False
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,1.259140e-02,False,paper_towel,1.117850e-02,False
1946,862457590147678208,https://pbs.twimg.com/media/C_gQmaTUMAAPYSS.jpg,1,home_theater,0.496348,False,studio_couch,1.672560e-01,False,barber_chair,5.262500e-02,False
1953,863907417377173506,https://pbs.twimg.com/media/C_03NPeUQAAgrMl.jpg,1,marmot,0.358828,False,meerkat,1.747030e-01,False,weasel,1.234850e-01,False
1956,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,pole,0.478616,False,lakeside,1.141820e-01,False,wreck,5.592650e-02,False
1975,870063196459192321,https://pbs.twimg.com/media/DBMV3NnXUAAm0Pp.jpg,1,comic_book,0.534409,False,envelope,2.807220e-01,False,book_jacket,4.378550e-02,False
1979,870804317367881728,https://pbs.twimg.com/media/DBW35ZsVoAEWZUU.jpg,1,home_theater,0.168290,False,sandbar,9.804040e-02,False,television,7.972940e-02,False
2012,879050749262655488,https://pbs.twimg.com/media/DDMD_phXoAQ1qf0.jpg,1,tabby,0.311861,False,window_screen,1.691230e-01,False,egyptian_cat,1.329320e-01,False
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,1.151230e-01,False,traffic_light,6.953380e-02,False
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,indian_elephant,2.456460e-01,False,ibex,5.566070e-02,False
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,1.399520e-01,False,car_wheel,4.417270e-02,False
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,2.917540e-02,False,shopping_cart,2.632080e-02,False
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,8.585110e-02,False,banana,7.611000e-02,False

There are 324 values that are false for all three predictions out of 2074. it's rougly about 15% completely incorrect. When the model is inaccruate, it predicts something other than a dog.

In [66]:
df2['tweet_id'][(df2['predict_1_breed'] == True)].count()/2075
#model 1 is accurate .74 out of 1

0.7383132530120482

In [67]:
df2['tweet_id'][(df2['predict_2_breed'] == True)].count()/2075
#model 2 is accurate .75 out of 1

0.74843373493975907

In [68]:
df2['tweet_id'][(df2['predict_3_breed'] == True)].count()/2075
#model 3 is accurate .72 out of 1

0.72240963855421692

# Analysis 3)

How is WeRateDogs doing? have they been gaining followers?

In [69]:
df3 = df_tweet_json_clean.copy()
#f3.columns
df3.sort_values(by = ['created_at'])

#Yes, they have been

,tweet_id,retweet_count,favorite_count,followers_count,url,created_at
2344,666020888022790149,521,2560,6552609,https://t.co/BLDqew2Ijj,2015-11-15 22:32:08
2343,666029285002620928,47,131,6552609,https://t.co/r7mOb2m0UI,2015-11-15 23:05:30
2342,666033412701032449,45,125,6552609,https://t.co/y671yMhoiR,2015-11-15 23:21:54
2341,666044226329800704,141,302,6552609,https://t.co/DWnyCjf2mx,2015-11-16 00:04:52
2340,666049248165822465,40,109,6552609,https://t.co/4B7cOc1EDq,2015-11-16 00:24:50
2339,666050758794694657,58,133,6552609,https://t.co/fvIbQfHjIe,2015-11-16 00:30:50
2338,666051853826850816,859,1229,6552609,https://t.co/v5A4vzSDdc,2015-11-16 00:35:11
2337,666055525042405380,257,441,6552609,https://t.co/rdivxLiqEt,2015-11-16 00:49:46
2336,666057090499244032,142,300,6552609,https://t.co/yWBqbrzy8O,2015-11-16 00:55:59
2335,666058600524156928,58,114,6552608,https://t.co/pYAJkAe76p,2015-11-16 01:01:59
2334,666063827256086533,223,480,6552608,https://t.co/RhUEAloehK,2015-11-16 01:22:45
2333,666071193221509120,62,148,6552608,https://t.co/ZoL8kq2XFx,2015-11-16 01:52:02
2332,666073100786774016,169,326,6552608,https://t.co/Yk6GHE9tOY,2015-11-16 01:59:36
2331,666082916733198337,45,119,6552608,https://t.co/3RU6x0vHB7,2015-11-16 02:38:37
2330,666094000022159362,76,164,6552608,https://t.co/mnioXo3IfP,2015-11-16 03:22:39
2329,666099513787052032,71,157,6552608,https://t.co/Ri4nMTLq5C,2015-11-16 03:44:34
2328,666102155909144576,13,80,6552608,https://t.co/11LvqN4WLq,2015-11-16 03:55:04
2327,666104133288665088,6696,14461,6552608,https://t.co/Asgdc6kuLX,2015-11-16 04:02:55
2326,666268910803644416,36,105,6552608,https://t.co/0yxApIikpk,2015-11-16 14:57:41
2325,666273097616637952,77,178,6552608,https://t.co/ws2AMaNwPW,2015-11-16 15:14:19
2324,666287406224695296,68,151,6552608,https://t.co/d9NcXFKwLv,2015-11-16 16:11:11
2323,666293911632134144,359,513,6552608,https://t.co/IIXis0zta0,2015-11-16 16:37:02
2322,666337882303524864,94,200,6552608,https://t.co/QpRjllzWAL,2015-11-16 19:31:45
2321,666345417576210432,142,301,6552607,https://t.co/VFKG1vxGjB,2015-11-16 20:01:42
2320,666353288456101888,74,224,6552607,https://t.co/tltQ5w9aUO,2015-11-16 20:32:58
2319,666362758909284353,579,785,6552607,https://t.co/XMD9CwjEnM,2015-11-16 21:10:36
2318,666373753744588802,95,191,6552607,https://t.co/uHXrPkUEyl,2015-11-16 21:54:18
2317,666396247373291520,87,168,6552607,https://t.co/Dc7b0E8qFE,2015-11-16 23:23:41
2316,666407126856765440,41,110,6552607,https://t.co/LopTBkKa8h,2015-11-17 00:06:54
2315,666411507551481857,333,450,6552303,https://t.co/aMCTNWO94t,2015-11-17 00:24:19
...,...,...,...,...,...,...
29,886267009285017600,4,116,6551976,n,2017-07-15 16:51:35
28,886366144734445568,3226,21208,6551976,https://t.co/iIu3AF8IWH,2017-07-15 23:25:31
27,886680336477933568,4531,22525,6551976,https://t.co/BCoWue0abA,2017-07-16 20:14:00
26,886736880519319552,3341,12124,6551976,https://t.co/RipKYZ0T1u,2017-07-16 23:58:41
25,886983233522544640,7868,35302,6551976,https://t.co/I6oNy0CgiT,2017-07-17 16:17:36
24,887101392804085760,6040,30678,6551976,https://t.co/UgW2xbO7Rg,2017-07-18 00:07:08
23,887343217045368832,10537,33826,6551976,https://t.co/WZqNqygEyV,2017-07-18 16:08:03
22,887473957103951883,18468,69406,6551976,https://t.co/cLyzpcUcMX,2017-07-19 00:47:34
21,887517139158093824,11810,46429,6551976,https://t.co/20VrLAA8ba,2017-07-19 03:39:09
20,887705289381826560,5464,30313,6551976,https://t.co/m7BR4JgDrZ,2017-07-19 16:06:48
19,888078434458587136,3547,21852,6551976,https://t.co/UibDBnVpvR,2017-07-20 16:49:33
18,888554962724278272,3643,20010,6551976,https://t.co/YnYAFCTTiK,2017-07-22 00:23:06
17,888804989199671297,4411,25698,6551976,https://t.co/L5cCoR2huQ,2017-07-22 16:56:37
16,888917238123831296,4564,29203,6551976,https://t.co/chxruIOUJN,2017-07-23 00:22:39
15,889278841981685760,5516,25399,6551976,https://t.co/qw5xRwBaIv,2017-07-24 00:19:32
14,889531135344209921,2262,15146,6551976,https://t.co/Ya3bdfYuCx,2017-07-24 17:02:04
13,889638837579907072,4600,27286,6551976,https://t.co/f8dEDcrKSR,2017-07-25 00:10:02
12,889665388333682689,10193,48277,6551976,https://t.co/BxvuXk0UCm,2017-07-25 01:55:32
11,889880896479866881,5030,27902,6551976,https://t.co/u1XPQMl29g,2017-07-25 16:11:53
10,890006608113172480,7439,30775,6551976,https://t.co/jy2alqaYPH,2017-07-26 00:31:25
9,890240255349198849,7524,32075,6551976,https://t.co/l3TSS3o2M0,2017-07-26 15:59:51
8,890609185150312448,4321,27878,6551976,https://t.co/UkrdQyoYxV,2017-07-27 16:25:51
7,890729181411237888,19158,65814,6551975,https://t.co/hrcFOGi12V,2017-07-28 00:22:40
6,890971913173991426,2104,11901,6551975,https://t.co/MV01Q820LT,2017-07-28 16:27:12
5,891087950875897856,3155,20293,6551975,https://t.co/xx5cilW0Dd,2017-07-29 00:08:17
4,891327558926688256,9521,40470,6551975,https://t.co/0g0KMIVXZ3,2017-07-29 16:00:24
3,891689557279858688,8759,42299,6551975,https://t.co/tD36da7qLQ,2017-07-30 15:58:51
2,891815181378084864,4213,25137,6551974,https://t.co/r0YlrsGCgy,2017-07-31 00:18:03
1,892177421306343426,6351,33354,6551974,https://t.co/aQFSeaCu9L,2017-08-01 00:17:27
0,892420643555336193,8642,38967,6551974,https://t.co/MgUWQ76dJU,2017-08-01 16:23:56

In [70]:
#df3.columns
import plotly.plotly as py
import plotly.graph_objs as go

df3.drop('tweet_id', axis = 1)
df3.drop('url', axis = 1)
df3.sort_values(by= ['created_at'])

,tweet_id,retweet_count,favorite_count,followers_count,url,created_at
2344,666020888022790149,521,2560,6552609,https://t.co/BLDqew2Ijj,2015-11-15 22:32:08
2343,666029285002620928,47,131,6552609,https://t.co/r7mOb2m0UI,2015-11-15 23:05:30
2342,666033412701032449,45,125,6552609,https://t.co/y671yMhoiR,2015-11-15 23:21:54
2341,666044226329800704,141,302,6552609,https://t.co/DWnyCjf2mx,2015-11-16 00:04:52
2340,666049248165822465,40,109,6552609,https://t.co/4B7cOc1EDq,2015-11-16 00:24:50
2339,666050758794694657,58,133,6552609,https://t.co/fvIbQfHjIe,2015-11-16 00:30:50
2338,666051853826850816,859,1229,6552609,https://t.co/v5A4vzSDdc,2015-11-16 00:35:11
2337,666055525042405380,257,441,6552609,https://t.co/rdivxLiqEt,2015-11-16 00:49:46
2336,666057090499244032,142,300,6552609,https://t.co/yWBqbrzy8O,2015-11-16 00:55:59
2335,666058600524156928,58,114,6552608,https://t.co/pYAJkAe76p,2015-11-16 01:01:59
2334,666063827256086533,223,480,6552608,https://t.co/RhUEAloehK,2015-11-16 01:22:45
2333,666071193221509120,62,148,6552608,https://t.co/ZoL8kq2XFx,2015-11-16 01:52:02
2332,666073100786774016,169,326,6552608,https://t.co/Yk6GHE9tOY,2015-11-16 01:59:36
2331,666082916733198337,45,119,6552608,https://t.co/3RU6x0vHB7,2015-11-16 02:38:37
2330,666094000022159362,76,164,6552608,https://t.co/mnioXo3IfP,2015-11-16 03:22:39
2329,666099513787052032,71,157,6552608,https://t.co/Ri4nMTLq5C,2015-11-16 03:44:34
2328,666102155909144576,13,80,6552608,https://t.co/11LvqN4WLq,2015-11-16 03:55:04
2327,666104133288665088,6696,14461,6552608,https://t.co/Asgdc6kuLX,2015-11-16 04:02:55
2326,666268910803644416,36,105,6552608,https://t.co/0yxApIikpk,2015-11-16 14:57:41
2325,666273097616637952,77,178,6552608,https://t.co/ws2AMaNwPW,2015-11-16 15:14:19
2324,666287406224695296,68,151,6552608,https://t.co/d9NcXFKwLv,2015-11-16 16:11:11
2323,666293911632134144,359,513,6552608,https://t.co/IIXis0zta0,2015-11-16 16:37:02
2322,666337882303524864,94,200,6552608,https://t.co/QpRjllzWAL,2015-11-16 19:31:45
2321,666345417576210432,142,301,6552607,https://t.co/VFKG1vxGjB,2015-11-16 20:01:42
2320,666353288456101888,74,224,6552607,https://t.co/tltQ5w9aUO,2015-11-16 20:32:58
2319,666362758909284353,579,785,6552607,https://t.co/XMD9CwjEnM,2015-11-16 21:10:36
2318,666373753744588802,95,191,6552607,https://t.co/uHXrPkUEyl,2015-11-16 21:54:18
2317,666396247373291520,87,168,6552607,https://t.co/Dc7b0E8qFE,2015-11-16 23:23:41
2316,666407126856765440,41,110,6552607,https://t.co/LopTBkKa8h,2015-11-17 00:06:54
2315,666411507551481857,333,450,6552303,https://t.co/aMCTNWO94t,2015-11-17 00:24:19
...,...,...,...,...,...,...
29,886267009285017600,4,116,6551976,n,2017-07-15 16:51:35
28,886366144734445568,3226,21208,6551976,https://t.co/iIu3AF8IWH,2017-07-15 23:25:31
27,886680336477933568,4531,22525,6551976,https://t.co/BCoWue0abA,2017-07-16 20:14:00
26,886736880519319552,3341,12124,6551976,https://t.co/RipKYZ0T1u,2017-07-16 23:58:41
25,886983233522544640,7868,35302,6551976,https://t.co/I6oNy0CgiT,2017-07-17 16:17:36
24,887101392804085760,6040,30678,6551976,https://t.co/UgW2xbO7Rg,2017-07-18 00:07:08
23,887343217045368832,10537,33826,6551976,https://t.co/WZqNqygEyV,2017-07-18 16:08:03
22,887473957103951883,18468,69406,6551976,https://t.co/cLyzpcUcMX,2017-07-19 00:47:34
21,887517139158093824,11810,46429,6551976,https://t.co/20VrLAA8ba,2017-07-19 03:39:09
20,887705289381826560,5464,30313,6551976,https://t.co/m7BR4JgDrZ,2017-07-19 16:06:48
19,888078434458587136,3547,21852,6551976,https://t.co/UibDBnVpvR,2017-07-20 16:49:33
18,888554962724278272,3643,20010,6551976,https://t.co/YnYAFCTTiK,2017-07-22 00:23:06
17,888804989199671297,4411,25698,6551976,https://t.co/L5cCoR2huQ,2017-07-22 16:56:37
16,888917238123831296,4564,29203,6551976,https://t.co/chxruIOUJN,2017-07-23 00:22:39
15,889278841981685760,5516,25399,6551976,https://t.co/qw5xRwBaIv,2017-07-24 00:19:32
14,889531135344209921,2262,15146,6551976,https://t.co/Ya3bdfYuCx,2017-07-24 17:02:04
13,889638837579907072,4600,27286,6551976,https://t.co/f8dEDcrKSR,2017-07-25 00:10:02
12,889665388333682689,10193,48277,6551976,https://t.co/BxvuXk0UCm,2017-07-25 01:55:32
11,889880896479866881,5030,27902,6551976,https://t.co/u1XPQMl29g,2017-07-25 16:11:53
10,890006608113172480,7439,30775,6551976,https://t.co/jy2alqaYPH,2017-07-26 00:31:25
9,890240255349198849,7524,32075,6551976,https://t.co/l3TSS3o2M0,2017-07-26 15:59:51
8,890609185150312448,4321,27878,6551976,https://t.co/UkrdQyoYxV,2017-07-27 16:25:51
7,890729181411237888,19158,65814,6551975,https://t.co/hrcFOGi12V,2017-07-28 00:22:40
6,890971913173991426,2104,11901,6551975,https://t.co/MV01Q820LT,2017-07-28 16:27:12
5,891087950875897856,3155,20293,6551975,https://t.co/xx5cilW0Dd,2017-07-29 00:08:17
4,891327558926688256,9521,40470,6551975,https://t.co/0g0KMIVXZ3,2017-07-29 16:00:24
3,891689557279858688,8759,42299,6551975,https://t.co/tD36da7qLQ,2017-07-30 15:58:51
2,891815181378084864,4213,25137,6551974,https://t.co/r0YlrsGCgy,2017-07-31 00:18:03
1,892177421306343426,6351,33354,6551974,https://t.co/aQFSeaCu9L,2017-08-01 00:17:27
0,892420643555336193,8642,38967,6551974,https://t.co/MgUWQ76dJU,2017-08-01 16:23:56

In [71]:
data = [go.Scatter( x=df3['created_at'], y=df3['followers_count'] )]

layout = go.Layout(
    title='Day of the Week by number of Tweet'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Number of Followers by Year')
#this account has been losing followers

In [72]:
df_arch.pupper.value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [73]:
df_arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 10 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
source                2175 non-null category
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null float64
rating_denominator    2175 non-null float64
name                  2175 non-null object
rating_value          2175 non-null float64
dog_stage             364 non-null object
dtypes: category(1), datetime64[ns](1), float64(3), object(5)
memory usage: 172.2+ KB